:root{
    --lightBlue: #5DD3E6;
    --black: #000000;
}

.FirstPart{
    height: auto;
    width: 100%;
    background-color: var(--lightBlue);
}
.SecondPart{
    background: transparent linear-gradient(180deg, var(--lightBlue) 0%, #387D88 34%, #1B3C41 83%, var(--black) 93%, var(--black) 100%, #367A84 100%, #2F6A73 100%) 0% 0% no-repeat padding-box;
}