{% extends "base.html" %}
{% comment %} Adds the base template html file {% endcomment %}

{% block pageTitle%} Home {%endblock%}
{% comment %} Sets the page title {% endcomment %}

{%block header%} Home {%endblock%}
{% comment %} Sets the page <h1> tags which every page should have to keep things orderend {% endcomment %}

{% load static%} <!--Always load static in each html-->
{%block css%} 
{%endblock%}
{% comment %} Add css files specific for this APP not the project {% endcomment %}


{% block FirstContentBlock %}
{% comment %} Below here there should be the page content {% endcomment %}



{% comment %} Custom JavaScript code can be implemented down here at the end of the page {% endcomment %}
{% comment %} Example: <script src="{% static "[app]_js/[app].js" %}"> </script> - make sure static is loaded at the start of the page{% endcomment %}
{% comment %} And to add a image you can use the same static as something like: <img src="{% static "[app]_img/img.jpg" %}">{% endcomment %}


{%endblock%}