:root{
    --white: #FFFFFF;
    --black: #000000;
}

.footer{
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: var(--black);
    width: 100%;
    display: flex;
    justify-content:space-between;
    font-size: 2rem;
}

.footer a{
    text-decoration: none;
    color: var(--white);
}

#footer-home{
    padding-left: 300px;
}

#footer-contact{
    padding-right: 300px;
}