{% load static%} {% comment %} Loads the app specific static files {% endcomment %} {%block css%} {%endblock%} {% comment %} Header should still be made {% endcomment %}
{%include "header.html"%}
{% comment %} A standard page title {% endcomment %}

{%block header%} 

{%endblock%}

{%block content%} Oops, looks like someone forget to put content in this page. Please contact support if this happens to you. {%endblock%}
{% comment %} Footer still needs to be made {% endcomment %}
{%include "footer.html"%}